// layout(<main>) scss
@charset 'utf-8';

// custom theme
@import "./theme.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", "Noto Sans KR", sans-serif;
  font-size: calc(14px + 0.390625vw);
  -webkit-font-smoothing: antialiased;
  background-color: #fffcf6;
}

::selection {
  background-color: #fdd0b3;
}

ul,
li,
ol,
dl,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

button > i {
  font-size: inherit;
}
.la {
  color: inherit;
}
a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.row > [class*="col-"] {
  overflow-wrap: break-word;
}

.centered {
  display: grid;
  place-content: center;
  min-height: 50vh;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  // text-transform: uppercase;
  line-height: 1.1;
}

/********************* 
  Header 
  - 
*********************/
:root {
  --nav-height: 80px;
  --logo-size: 52px;
}

.headerNav {
  z-index: 20;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  backdrop-filter: blur(20px);

  box-sizing: border-box;
  border-bottom: 2px solid black;

  > nav {
    position: relative;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;

    // header brand logo

    .brand-logo {
      display: grid;
      align-items: center;
      justify-content: center;
      padding: 0;
      animation: rotate 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -0.8s);
      animation-iteration-count: 1;
      animation-fill-mode: both;
      transition-duration: 1s;
      transform-origin: center;

      @keyframes rotate {
        to {
          transform: rotate(360deg);
        }
      }

      svg {
        width: var(--logo-size);
        height: var(--logo-size);
        color: $primary;
      }

      &:active,
      &:hover,
      &:focus {
        transition: all 0.5s ease;
      }
    }
  }
  .menuList {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;

    > ul {
      display: flex;
      margin: 0;
    }

    .menuLink {
      display: block;
      padding: 0.5rem 1.5rem;
      color: inherit;
      text-align: center;
      font-weight: bold;
      text-transform: capitalize;

      // link focus,active
      // &.active,
      // &:hover,
      // &:focus {
      // }
      &.active::after {
        content: " (current page)";
        display: none;
      }
    }
  }
}

/********************* 
  Footer
  - 
*********************/
.footer {
  position: relative;
  color: inherit;
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;

  .copyright {
    font-weight: lighter;
    vertical-align: middle;
  }
  .address-text {
    margin-top: 0.5rem;
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 300;
  }
}

/********************* 
  main
  -
*********************/
#wrap {
  transition: all 0.2s ease-in-out;
  position: relative;
}
.main {
  padding: 4vh 0;
}

/********************* 
  pages 
*********************/

/* index */
.index {
  position: relative;
}

.text-deco {
  font-family: "Comforter Brush";
  font-weight: 400;
  text-transform: none !important;
}

.headline {
  font-size: clamp(32px, 3.7vw, 72px);
  // font-size: 3rem;
  font-weight: 400;
  line-height: 1.3;
  overflow-wrap: break-word;
  margin-bottom: 1rem;
  // text-transform: uppercase;

  // background-image: url(https://media.giphy.com/media/nelrMNNiummuJ5VfRN/giphy-downsized-large.gif);
  // background-size: cover;
  // color: transparent;
  // -moz-background-clip: text;
  // -webkit-background-clip: text;
}

// img
.feature {
  // background-color: $danger;

  &--header {
    display: flex;
    align-items: flex-start;
    // justify-content: space-between;
    padding-top: 2vh;
    min-height: 70vh;

    .emblem-wrap {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);

      --emblem-size: 160px;

      svg#emblem-svg {
        width: var(--emblem-size);
        height: var(--emblem-size);

        fill: currentColor;
        color: black;

        text {
          font-family: inherit;
          font-weight: 900;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
    }
  }
}

%boxing-style {
  content: "";
  position: absolute;
  top: 0;
  // background-color: black;
  width: 100%;
  height: 1px;
}

.boxing {
  position: relative;
  padding-top: 1rem;

  &::before {
    @extend %boxing-style;
    height: 3px;
  }
  &::after {
    @extend %boxing-style;
    top: -4px;
    height: 1px;
  }
}

@keyframes MoveImg {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5em);
  }
}

.slide-wrap {
  position: relative;
  min-height: 12vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  // &::before,
  // &::after {
  //   position: absolute;
  //   background-image: linear-gradient(
  //     to right,
  //     rgba(255, 255, 255, 1) 0%,
  //     rgba(255, 255, 255, 0) 100%
  //   );
  //   content: "";
  //   height: 100%;
  //   width: 25%;
  //   z-index: 2;
  //   pointer-events: none;
  // }
  // &::before {
  //   left: 0;
  //   top: 0;
  // }
  // &::after {
  //   right: 0;
  //   top: 0;
  //   transform: rotateZ(180deg);
  // }

  .logos {
    --logos-size: 20vw;

    width: calc(var(--logos-size) * 6);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 2em;
    animation: slideTrack 40s linear infinite alternate;

    > li {
      flex-shrink: 0;
      width: var(--logos-size);
      max-width: 160px;
      display: inline-flex;
      justify-content: center;
      text-align: center;
      transition: all 0.3s ease;
      white-space: nowrap;
      cursor: pointer;
      transform: translateX(0);
      filter: grayscale(1);

      &:hover {
        transform: scale(1.2);
        filter: grayscale(0);
      }
    }

    > li img {
      display: grid;
      place-items: center;
      transition: 0.5s;
      width: 100%;
      height: 100%;
    }
  }

  @keyframes slideTrack {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

// test

svg#logo-svg {
  width: 114px;

  fill: none;
  stroke: #000;
  stroke-width: 8px;

  path {
    stroke-miterlimit: 4;
  }
}

.post-list {
  overflow: hidden;

  > li {
    // margin-bottom: 2.5rem;
    .post-link {
      display: flex;
      justify-content: space-between;
      column-gap: 2rem;
      border-top: 2px solid black;
      padding: 1rem 0;

      &:hover,
      &:focus {
        border-color: $primary;
        .thumb {
          // background-color: $primary;
          // background-blend-mode: multiply;
        }
      }
    }
  }

  .contents {
    width: 100%;
    overflow: hidden;

    .title {
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .more {
      display: inline-block;
    }
  }

  .thumb {
    flex-shrink: 0;
    display: block;
    width: 320px;
    height: 220px;
    overflow: hidden;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width: 991px) {
    .thumb {
      width: 160px;
      height: 110px;
      overflow: hidden;
    }
  }
}

.img-list {
  li {
    // flex: 0 0 auto;
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      opacity: 1;
      transition: opacity 0.2s ease-in 0s;
    }
  }

  .img-blend {
    background-color: $primary;
    background-blend-mode: multiply;
    // &:hover,
    // &:focus {
    //   background-blend-mode: normal;
    // }
  }
  .img-text {
    background-image: url(https://media.giphy.com/media/nelrMNNiummuJ5VfRN/giphy-downsized-large.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    line-height: 1;
  }
}

.text-marquee {
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));

  position: relative;
  overflow: hidden;
  width: 100%;

  &--inner {
    overflow: hidden;
    position: relative;
    width: fit-content;
    display: flex;
    white-space: nowrap;
    will-change: transform;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marqueeText 20s linear infinite;
    animation-play-state: running;

    span {
      font-size: 10vw;
      font-weight: 900;
      padding: 0 3vw;
      overflow: hidden;
    }
    span:nth-child(2) {
      background-color: #000;
      color: $primary;
      border-radius: 50%;
    }
    span:nth-child(3) {
      font-family: "Comforter Brush";
    }
  }

  // &:hover .text-marquee--inner {
  //   animation-play-state: paused;
  // }

  // keyframe
  @keyframes marqueeText {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }
}

// topbar text slider

.marquee {
  z-index: 10;
  position: relative;
  overflow: hidden;
  background-color: $cream;
  height: 32px;

  &--track {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    will-change: transform;
    width: 200%;
    height: 100%;
    animation: marqueeScroll linear infinite running;
    animation-duration: 30s;

    @media (max-width: 991px) {
      animation-duration: 15s;
    }

    &:hover {
      animation-play-state: paused;
    }
  }
  &--item {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;

    > li {
      flex-shrink: 0;
      padding: 0 1vw;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

@keyframes marqueeScroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/************************************************************************************
                                  media query 
************************************************************************************/

/* Tablet & Mobile */
@media (max-width: 991px) {
  :root {
    --nav-height-m: 72px;
    --logo-size-m: 40px;
  }
  #toggleNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: $primary;
    padding-top: var(--nav-height-m);
    transition: opacity 0.2s linear;
    transform: translateY(-100%);
    opacity: 0;

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* Contents => hidden */

  .headerNav {
    z-index: 20;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .brand-logo {
        img {
          width: var(--logo-size-m);
          height: var(--logo-size-m);
        }
      }
    }
  }

  // toggle button
  .menu-toggle {
    z-index: 20;
    appearance: none;
    border: none;
    background: transparent;
    display: grid;
    align-items: center;
    justify-content: center;

    // hamburger
    .hamburger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .bar {
        display: block;
        width: 28px;
        height: 4px;
        background-color: black;
        margin: 3px 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:nth-child(2) {
          width: 16px;
        }
      }

      &.active .bar:nth-child(2) {
        opacity: 0;
      }
      &.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }
      &.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }

  // img-list
  .img-list {
    li {
      height: 600px;
      overflow: hidden;
    }
  }
}
