// layout(<main>) scss
@charset 'utf-8';

// custom theme
@import "./theme.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", "Noto Sans KR", sans-serif;
  font-size: calc(14px + 0.390625vw);
}

ul,
li,
ol,
dl,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

button > i {
  font-size: inherit;
}
.la {
  color: inherit;
}
a {
  color: inherit;
}

.row > [class*="col-"] {
  overflow-wrap: break-word;
}

img {
  filter: grayscale(100%);

  &:hover,
  &:focus {
    filter: grayscale(0);
  }
}

/********************* 
  Header 
  - 
*********************/
.headerNav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);

  > nav {
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;

    // header brand logo
    --logo-size: 64px;

    .brand-logo {
      display: grid;
      align-items: center;
      justify-content: center;

      padding: 0;
      width: var(--logo-size);
      height: var(--logo-size);
      transform-origin: calc(var(--logo-size) / 2);
      transition-duration: 1s;

      animation: rotate 2s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -0.8s);
      animation-iteration-count: 1;
      animation-fill-mode: both;

      @keyframes rotate {
        to {
          transform: rotate(360deg);
        }
      }

      > svg {
        width: 100%;
        height: auto;
        fill: currentColor;
      }

      &:active,
      &:hover,
      &:focus {
        transition: all 0.5s ease;
      }
    }

    .menuLink {
      display: block;
      padding: 0.5rem 2rem;
      color: inherit;
      text-decoration: underline;
      text-align: center;
      text-transform: capitalize;
    }
  }
}

/********************* 
  Sidebar
  - 
*********************/
.sideNav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 72px;
  background: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  > ul {
    position: relative;
    overflow: hidden;
    top: 20%;
    > li {
      display: block;
      width: 100%;
      text-align: center;
      padding-bottom: 2rem;
    }
  }

  // icon
  .sidebar-icons {
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 10px;
    overflow: hidden;
    border-radius: 0.3rem;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--danger);
    }
  }
}

/********************* 
  Footer
  - 
*********************/
.footer {
  padding: 3rem 0;
  .wrap {
    position: relative;
    color: inherit;
    font-size: 0.9rem;

    > .logo {
      display: inline-block;
      width: 30px;
      overflow: hidden;
      opacity: 0.3;
      > img {
        width: 100%;
      }
    }
  }
  .copyright {
    font-weight: lighter;
    vertical-align: middle;
  }
  .address-text {
    margin-top: 0.5rem;
    line-height: 1.25;
    font-size: 2rem;
  }
}

/********************* 
  main
  -
*********************/
#wrap {
  transition: all 0.2s ease-in-out;
  position: relative;
  min-height: 100vh;
}
.main {
  min-height: 50vh;
  margin: auto;
}

/********************* 
  pages 
*********************/

/* index */
.index {
  position: relative;
}

// img
.feature {
  text-transform: uppercase;

  &--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    overflow: hidden;

    .headline {
      font-size: 100px;
      font-weight: 900;
      overflow-wrap: break-word;
    }

    p {
      line-height: 1;
    }

    .emblem-wrap {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      svg#emblem-svg {
        width: 140px;
        height: 140px;
        fill: currentColor;
        color: black;
        opacity: 0.2;

        text {
          font-family: inherit;
          font-weight: 900;
          font-size: 14px;
        }
      }
    }

    // heading mobile
    @media (max-width: 991px) {
      .headline {
        font-size: 50px;
      }
    }
  }
}

%boxing-style {
  content: "";
  position: absolute;
  top: 0;
  background-color: black;
  width: 100%;
  height: 1px;
}

.boxing {
  position: relative;
  padding-top: 1rem;

  &::before {
    @extend %boxing-style;
    height: 3px;
  }
  &::after {
    @extend %boxing-style;
    top: -4px;
    height: 1px;
  }
}

@keyframes MoveImg {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5em);
  }
}

/* page1 */
.imgList {
  color: inherit;
  > ul > li > a {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}

/************************************************************************************
                                  media query 
************************************************************************************/

/* Desktop */
@media (min-width: 992px) {
  // Top Menu
  .menuList {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;

    > ul {
      display: flex;
      margin: 0;
    }

    .menuLink {
      display: block;
      padding: 0.5rem 2rem;
      color: inherit;
      text-align: center;
      font-weight: bold;
      text-transform: capitalize;

      // link focus,active
      // &.active,
      // &:hover,
      // &:focus {
      // }
      &.active::after {
        content: " (current page)";
        display: none;
      }
    }
  }
}
//
//
//
/* Tablet & Mobile */
@media (max-width: 991px) {
  .sideNav {
    width: 0;
  }
  /* Contents => hidden */
  .main,
  .headerNav {
    padding-left: 0;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // toggle button
  .menu-toggle {
    z-index: 20;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 0;
    width: 52px;
    height: 52px;
    color: inherit;
    appearance: none;
    border: none;
    background: transparent;

    /* menu Icon */
    img,
    svg {
      display: block;
      color: inherit;
      width: 100%;
      height: 100%;
    }
  }
}

.slide-wrap {
  position: relative;
  width: 100%;
  min-height: 20vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100%;
    width: 25%;
    z-index: 2;
    pointer-events: none;
  }
  &::before {
    left: 0;
    top: 0;
  }
  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .logos {
    --logo-size: 20vw;

    width: calc(var(--logo-size) * 6);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 2em;
    animation: slideTrack 20s linear infinite running;

    > li {
      width: var(--logo-size);
      max-width: 160px;
      flex-shrink: 0;
      display: inline-flex;
      justify-content: center;
      text-align: center;
      transition: 0.5s;
      white-space: nowrap;
      cursor: pointer;

      transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: translateX(0);
      transition-delay: 0.1s;
    }

    > li img {
      display: grid;
      place-items: center;
      transition: 0.5s;
      width: 100%;
      height: 100%;
      filter: grayscale(100%);
      opacity: 0.6;

      &:hover {
        transform: scale(0.8);
      }
    }
  }

  @keyframes slideTrack {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

// test

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  background-color: black;
  color: white;
}

svg#logo-svg {
  width: 114px;

  fill: none;
  stroke: #000;
  stroke-width: 8px;

  path {
    stroke-miterlimit: 4;
  }
}
