// layout(<main>) scss
@charset 'utf-8';

// custom theme
@import './theme.scss';

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', 'Gothic A1', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

ul,
li,
ol,
dl,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

/********************* 
  Header 
  - 
*********************/
.headerMenu {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 8px 32px -8px rgba(0, 0, 0, 0.1);
  background-color: inherit;

  > nav {
    max-width: 1440px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: calc(1440px * (1 / 24));
    padding-right: calc(1440px * (1 / 24));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    // header brand logo
    .brand-logo {
      display: block;
      padding: 1rem;

      &:active,
      &:hover,
      &:focus {
        animation: Wiggle 1s ease-in-out;
      }
    }
    // toggle button
    .menu-toggle {
      display: inline-block;
      font-size: 32px;
      > i {
        font-size: inherit;
      }
    }
  }
  .menuList {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;

    li {
      padding: 0 0.5rem;
    }

    li .menuLink {
      display: block;
      padding: 1rem 2rem;
      color: inherit;
      text-decoration: none;
      text-align: center;
      border: 2px solid transparent;

      &.active,
      &:active,
      &:hover,
      &:focus {
        border-color: var(--gray-dark);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  @keyframes Wiggle {
    20% {
      transform: rotate(10deg);
    }

    40% {
      transform: rotate(-15deg);
    }

    60% {
      transform: rotate(5deg);
    }

    80% {
      transform: rotate(-5deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

/********************* 
  Sidebar
  - 
*********************/
.sideNav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 72px;
  background: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.sideNav ul {
  position: relative;
  overflow: hidden;
  top: 20%;
}
.sideNav ul > li {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;

  // icon
  .sidebar-icons {
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 8px;
    overflow: hidden;
    border-radius: 0.3rem;
    border: 2px solid transparent;

    &:focus,
    &:active {
      border-color: #c70000;
    }
  }
}

@media (min-width: 768px) {
  .sideNav {
    width: 72px;
  }
  // Push Container
  .main,
  .headerMenu {
    padding-left: 72px;
  }
}

@media (max-width: 767px) {
  .sideNav {
    width: 0;
  }
  // Push Container
  .main,
  .headerMenu {
    padding-left: 0;
  }
}

/********************* 
  Footer
  - 
*********************/
.footer {
  background: transparent;
  width: 100%;
  .wrap {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    text-align: center;
    padding: 1.5rem;
    color: inherit;

    > .logo {
      display: inline-block;
      width: 30px;
      overflow: hidden;
      opacity: 0.3;
      > img {
        width: 100%;
      }
    }
    > .copyright {
      font-size: 0.85rem;
      vertical-align: middle;
    }
  }
}

/********************* 
  main
  -
*********************/
#wrap {
  transition: all 0.2s ease-in-out;
  position: relative;
  min-height: 100vh;
}
.main {
  width: 100%;
  margin: auto;
}

/********************* 
  pages 
*********************/

/* index */
.index {
  padding-top: 100px;
  .jumbotron {
    background-color: transparent;
  }
}

/* page1 */
.imgList {
  > ul > li {
    overflow: hidden;
  }
  > ul > li > a {
    display: block;
    width: 100%;
    height: 480px;
    overflow: hidden;
    margin-bottom: 1rem;
  }
}

/********************* 
  media query 
*********************/

// mobile =<
@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 1.602em;
  }
  h2 {
    font-size: 1.424em;
  }
  h3 {
    font-size: 1.266em;
  }
  h4 {
    font-size: 1.125em;
  }
  h5 {
    font-size: 0.889em;
  }
  h6 {
    font-size: 0.79em;
  }
  .display-1 {
    font-size: 3.906em;
  }
  .display-2 {
    font-size: 3.125em;
  }
  .display-3 {
    font-size: 2.5em;
  }
  .display-4 {
    font-size: 2em;
  }
}
// tablet =<
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  .display-1 {
    font-size: 6em;
  }
  .display-2 {
    font-size: 5.5em;
  }
  .display-3 {
    font-size: 4.5em;
  }
  .display-4 {
    font-size: 3.5em;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}
