// header scss
.nav {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 10vh;
  box-shadow: 0 8px 32px -8px rgba(0, 0, 0, 0.03);

  .navList {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;

    li {
      padding: 0 0.5rem;
    }

    li .navLink {
      display: block;
      padding: 1rem 2rem;
      color: inherit;
      text-decoration: none;
      text-align: center;
      border: 2px solid transparent;

      &.active,
      &:active,
      &:hover,
      &:focus {
        border-color: black;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.logo {
  padding: 1rem 2rem;
  margin: auto;

  &:active,
  &:hover,
  &:focus {
    // animation: SpinLogo 10s infinite;
  }
}

@keyframes SpinLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
