// Sidebar scss
:global #layoutWrap {
  padding-left: 72px;
  transition: all 0.2s ease-in-out;
}
.sideNav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 72px;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.sideNav ul {
  position: relative;
  overflow: hidden;
  top: 20%;
}
.sideNav ul > li {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;

  // icon
  .sidebar-icons {
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 10px;
    overflow: hidden;
    border-radius: 0.3rem;

    &:focus,
    &:active {
      background-color: #c70000;
    }
  }
}

@media (min-width: 768px) {
  :global .sideNav {
    width: 72px;
  }
  :global #layoutWrap {
    padding-left: 72px;
  }
}

@media (max-width: 767px) {
  .sideNav {
    width: 0;
  }
  :global #layoutWrap {
    padding-left: 0;
  }
}
