:root {
  --colors-primary: #3d16ec; }

body {
  margin: 0;
  padding: 0; }

.nav-module__nav--KjcOM {
  background-color: var(--colors-primary);
  color: white; }
  .nav-module__nav--KjcOM .nav-module__navList--3NOuc {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
    .nav-module__nav--KjcOM .nav-module__navList--3NOuc li > a {
      display: block;
      padding: 1rem;
      color: inherit;
      text-decoration: none;
      text-align: center; }

