//
.img-ex {
  width: 60vw;
  border-radius: 2rem;
  overflow: hidden;
}
.img-floating {
  position: absolute;
  top: 0;
  right: 0;
}

.dropdown-list {
  border-top: 2px solid black;

  > li {
    border: 2px solid black;
    border-top: 0;
    padding: 1rem 1.5rem;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: black;
      color: white;
      svg {
        fill: white;
      }
    }
  }
  .dropdown-content {
    margin-top: 1rem;
    font-size: 1rem;
  }

  a {
    display: flex;
  }
}
