$colors-primary: #3d16ec;

:root {
  --colors-primary: #3d16ec;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: var(--colors-primary);
  color: white;

  .navList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li > a {
      display: block;
      padding: 1rem;
      color: inherit;
      text-decoration: none;
      text-align: center;
    }
  }
}
