// layout(<main>) scss
@charset 'utf-8';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $primary !important;
}
@include media-breakpoint-down(md) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

::selection {
  background-color: #fdd0b3;
}

ul,
li,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

button > i {
  font-size: inherit;
}

a {
  color: inherit;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.8;
    text-decoration: underline wavy;
    text-decoration-line: 1px;
    text-underline-offset: 2px;
  }
}

.link-arrow {
  &::after {
    content: "↗";
    display: inline-block;
    margin-left: 0.5rem;
    font-size: inherit;
  }
}

.row > [class*="col-"] {
  overflow-wrap: break-word;
}
.dense-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$form-grid-gutter-width / 2;
  margin-left: -$form-grid-gutter-width / 2;

  > .col,
  > [class*="col-"] {
    padding-right: $form-grid-gutter-width / 0.8;
    padding-left: $form-grid-gutter-width / 0.8;
  }
}

.badge {
  border-color: $primary !important;
  // &:hover,
  // &:focus {
  // }
}

.centered {
  display: grid;
  place-content: center;
  height: 80vh;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  // text-transform: uppercase;
  line-height: 1.1;
}

/********************* 
  main
  -
*********************/
#wrap {
  transition: all 0.2s ease-in-out;
  position: relative;
}
.main {
  padding: 2vh 0;
}

/********************* 
  pages 
*********************/

/* index */
.page-index {
  position: relative;

  > section {
    margin: 4vh 0;
  }
}

.text-deco {
  font-family: "Comforter Brush";
  font-weight: 400;
  text-transform: none !important;
}

.headline {
  font-size: clamp(2.125rem, 3.7vw, 4.5rem);
  line-height: 1.2;
  overflow-wrap: break-word;
  text-transform: uppercase;
}

// img
.feature {
  // background-color: $danger;

  &--header {
    display: flex;
    align-items: center;

    min-height: 65vh;

    .emblem-wrap {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);

      --emblem-size: 160px;

      svg#emblem-svg {
        width: var(--emblem-size);
        height: var(--emblem-size);

        fill: currentColor;
        color: black;

        text {
          font-family: inherit;
          font-weight: 900;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
    }
  }
}

%boxing-style {
  content: "";
  position: absolute;
  top: 0;
  // background-color: black;
  width: 100%;
  height: 1px;
}

.boxing {
  position: relative;
  padding-top: 1rem;

  &::before {
    @extend %boxing-style;
    height: 3px;
  }
  &::after {
    @extend %boxing-style;
    top: -4px;
    height: 1px;
  }
}

@keyframes MoveImg {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5em);
  }
}

.slide-wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  * {
    flex-wrap: nowrap;
  }

  .logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow: hidden;
    // animation: slideTrack 40s linear infinite alternate;

    > li {
      flex-shrink: 0;
      display: inline-flex;
      width: 25vw;
      max-width: 200px;
      margin: 0 1rem;

      transition: all 0.3s ease;
      filter: grayscale(1);

      &:hover {
        transform: scale(1.2);
        filter: grayscale(0);
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  @keyframes slideTrack {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

// test

svg#logo-svg {
  width: 114px;

  fill: none;
  stroke: #000;
  stroke-width: 8px;

  path {
    stroke-miterlimit: 4;
  }
}

.post-list {
  overflow: hidden;

  > li {
    // margin-bottom: 2.5rem;
    .post-link {
      display: flex;
      justify-content: space-between;
      column-gap: 2rem;
      border-top: 2px solid black;
      padding: 1rem 0;

      &:hover,
      &:focus {
        border-color: $primary;
        .thumb {
          // background-color: $primary;
          // background-blend-mode: multiply;
        }
      }
    }
  }

  .contents {
    width: 100%;
    overflow: hidden;

    .title {
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .more {
      display: inline-block;
    }
  }

  .thumb {
    flex-shrink: 0;
    display: block;
    width: 320px;
    height: 220px;
    overflow: hidden;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width: 991px) {
    .thumb {
      width: 160px;
      height: 110px;
      overflow: hidden;
    }
  }
}

.section-bg {
  position: relative;
  overflow: hidden;
  height: 80vh;
  background-color: $primary;
  background-blend-mode: screen;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1647706531331-665b055c5a20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80);

  @media (max-width: 991px) {
    background-image: url(https://images.unsplash.com/photo-1647706531331-665b055c5a20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1280&q=80);
    background-attachment: scroll;
    background-position: center center;
  }

  .foreground {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  img,
  video,
  iframe {
    z-index: 1;
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.2s ease-in 0s;
  }
}

.img-blend {
  background-color: $primary;
  background-blend-mode: multiply;
  // &:hover,
  // &:focus {
  //   background-blend-mode: normal;
  // }
}
.img-text {
  background-image: url(https://media.giphy.com/media/nelrMNNiummuJ5VfRN/giphy-downsized-large.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
}

:root {
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.text-marquee {
  position: relative;
  overflow: hidden;
  width: 100%;

  &--inner {
    overflow: hidden;
    position: relative;
    width: fit-content;
    display: flex;
    white-space: nowrap;
    will-change: transform;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marqueeText 20s linear infinite;
    animation-play-state: running;

    span {
      font-size: 10vw;
      font-weight: 900;
      padding: 0 3vw;
      overflow: hidden;
    }
    span:nth-child(2) {
      background-color: #000;
      color: $primary;
      border-radius: 50%;
    }
    span:nth-child(3) {
      font-family: "Comforter Brush";
    }
  }

  // &:hover .text-marquee--inner {
  //   animation-play-state: paused;
  // }

  // keyframe
  @keyframes marqueeText {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }
}

.items-list {
  overflow: hidden;

  .contents {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    .thumb {
      display: block;
      background-color: $primary;
      border-radius: $border-radius;
    }
    .subject {
      font-weight: bold;
    }
  }
}
/************************************************************************************
                                  media query 
************************************************************************************/

/* Tablet & Mobile */
// @media (prefers-reduced-motion) {
//   .marquee--track {
//     -webkit-animation: none !important;
//     animation: none !important;
//   }
// }
@media (prefers-reduced-motion) {
  .marquee--item {
    overflow-x: scroll;
  }
}
