// layout(<main>) scss
@charset 'utf-8';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 22px;
  letter-spacing: -0.04em;
  background-color: $body-bg;
  -webkit-font-smoothing: antialiased;
}
@include media-breakpoint-down(md) {
  body {
    font-size: 16px;
  }
}
::selection {
  background-color: #fdd0b3;
}

ul,
li,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
figure {
  margin: 0;
}

small {
  font-weight: inherit;
}

b,
strong {
  font-weight: $font-weight-bold;
}

button > i {
  font-size: inherit;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
    img {
      transform: scale(1.1);
    }
  }
}

img {
  object-fit: cover;
  object-position: center;
  image-rendering: -webkit-optimize-contrast;
  transform: scale(1);
  transition: all 0.3s ease;
}
.mask {
  clip-path: polygon(
    0 1.5rem,
    0.75rem 0.75rem,
    1.5rem 0,
    100% 0,
    100% calc(100% - 1.5rem),
    calc(100% - 0.75rem) calc(100% - 0.75rem),
    calc(100% - 1.5rem) 100%,
    0 100%
  );

  mask-clip: border-box;
  mask-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  word-break: keep-all;
  color: inherit;
  text-transform: uppercase;
}

.link-arrow {
  transition: transform 0.2s linear;
  font-weight: 300;
  font-size: inherit;
  line-height: 1;

  &::after {
    content: "↗";
    padding-left: 0.25rem;
  }

  &:hover,
  &:focus {
    transform: rotateZ(180deg);
  }
}

.row > [class*="col-"] {
  overflow-wrap: break-word;
}

// outline layout
.grid-outline {
  > [class*="col-"] {
    outline: 1px solid $primary;
    outline-offset: -0.5px;
  }
}

.vh-half {
  min-height: 80vh;

  @include media-breakpoint-down(md) {
    min-height: 50vh;
  }
}

.display-0 {
  font-size: clamp(56px, 11vw, 132px);
  line-height: 1;
  overflow-wrap: break-word;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
}
.display-1,
.display-2,
.display-3,
.display-4 {
  // text-transform: uppercase;
  line-height: 1.1;
}

.outline {
  outline: 1px solid $primary;
}

/********************* 
  main
  -
*********************/
#wrapper {
  transition: all 0.2s ease-in-out;
  position: relative;
}
// .main {
//   padding: 2vh 0;
// }
.subpage-header {
  padding-top: 2em;
  height: 12em;
}

/********************* 
  pages 
*********************/

.text {
  color: inherit;

  &.active {
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }
}

// test

svg#logo-svg {
  width: 114px;

  fill: none;
  stroke: #000;
  stroke-width: 8px;

  path {
    stroke-miterlimit: 4;
  }
}

.background {
  z-index: 0;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.foreground {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  overflow: hidden;
}

.img-blend {
  // mix-blend-mode: lighten;
  background-blend-mode: multiply;
  opacity: 0.4;

  &:hover,
  &:focus {
    background-blend-mode: normal;
  }
}
.img-text {
  background-image: url(https://media.giphy.com/media/nelrMNNiummuJ5VfRN/giphy-downsized-large.gif);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
}

:root {
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.text-marquee {
  position: relative;
  overflow: hidden;
  width: 100%;

  &--inner {
    overflow: hidden;
    position: relative;
    width: fit-content;
    display: flex;
    white-space: nowrap;
    will-change: transform;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marqueeText 20s linear infinite;
    animation-play-state: running;

    span {
      font-size: 10vw;
      font-weight: 900;
      padding: 0 3vw;
      overflow: hidden;
    }
    span:nth-child(2) {
      background-color: #000;
      color: $primary;
      border-radius: 50%;
    }
    span:nth-child(3) {
      font-family: "Comforter Brush";
    }
  }

  // &:hover .text-marquee--inner {
  //   animation-play-state: paused;
  // }

  // keyframe
  @keyframes marqueeText {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }
}

.text-section {
  font-size: 20vw;
  letter-spacing: -0.25vw;
  line-height: 1;
}

.text-list {
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  .text-outline {
    font-size: clamp(72px, 25vw, 200px);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.5vw;
  }
}

.text-outline {
  white-space: nowrap;
  transition: all 0.2s ease;
  font-style: italic;
  font-weight: bolder;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $primary;

  // &:hover,
  // &:focus,
  &.active {
    transition: all 0.2s ease;
    -webkit-text-fill-color: $primary;
    -webkit-text-stroke-width: 0;
  }
}

/************************************************************************************
                                  media query 
************************************************************************************/

/* Tablet & Mobile */
// @media (prefers-reduced-motion) {
//   .marquee--track {
//     -webkit-animation: none !important;
//     animation: none !important;
//   }
// }
@media (prefers-reduced-motion) {
  .marquee--item {
    overflow-x: scroll;
  }
}
