//
.page {
  &--experience {
    position: relative;
    transition: all 0.2s;

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .data-list {
      li {
        padding: 1rem 0;
      }
      li + li {
        border-top: 1px solid $gray-200;
      }
    }

    // Careers
    .dropdown-wrap {
      li {
        border-bottom: 1px solid;
        border-color: $gray-200;
        cursor: pointer;
        position: relative;

        &::after {
          content: "↗";
          position: absolute;
          top: 1rem;
          right: 0;
          font-size: inherit;
          transition: transform 0.2s linear;
          transform: rotateZ(0);
        }

        &.open,
        &:focus,
        &:hover {
          &::after {
            transform: rotateZ(180deg);
          }
        }

        .dropdown-content {
          visibility: hidden;
          box-sizing: border-box;
          opacity: 0;
          height: 0;
          transform-origin: top;
          transition: all 0.3s ease-out;

          .detail {
            > dd {
              margin-bottom: 0;
              line-height: 1.5;
            }
          }
        }
        &.open,
        &:hover,
        &:focus {
          border-color: $primary;
        }

        &.open {
          transition: all 0.2s ease;
          max-height: fit-content;
          // font-weight: bold;

          .dropdown-content {
            visibility: visible;
            opacity: 1;
            height: auto;
            padding: 0.5rem 0;
          }
        }
      }
    }
  }

  &--projects {
    .post-list {
      overflow: hidden;

      li {
        .post-link {
          position: relative;
          display: flex;
          justify-content: space-between;
          column-gap: 1.5rem;
          padding: 1rem 0;
          border-bottom: 1px solid $gray-100;
          transition: all 0.2s linear;

          &::before {
            content: "↗";
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: inherit;
            display: inline-block;
            transform: rotateZ(45deg);
            transition: all 0.2s ease;
            font-size: 2rem;
            font-weight: 300;
          }

          &:hover,
          &:focus {
            border-color: $primary;

            &::before {
              transform: rotateZ(0);
            }
          }
        }
      }

      @include media-breakpoint-down(sm) {
        li {
          .post-link {
            flex-direction: column;
            .thumb {
              margin-top: 1rem;
              width: 100%;
              height: 180px;
            }
            &::before {
              content: unset;
            }
          }
        }
      }

      .contents {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .title {
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .thumb {
        flex-shrink: 0;
        display: block;
        width: 320px;
        height: 220px;
        overflow: hidden;
        background-color: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.2s linear;

        @include media-breakpoint-down(md) {
          width: 240px;
          height: 180px;
          overflow: hidden;
        }
      }
    }
  }

  &--project {
    background-color: $primary;
    color: white;
  }
} // .page--*
